doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    h1= title
  p Welcome to #{title}
  
  if actors
    h1 Actors
    for actor in actors
      p #{actor.login}
      p #{actor.avatar_url}